{% extends 'base.html.twig' %}

{% block body %}
    {% if isTurn==0 %}
        <div class="center-align">
            <h1 class="center-align">Attendez votre tour</h1>
        </div>
    {% elseif isTurn==1 %}

        <p style="float: right; margin-right: 5%;">{{ position+1 }}/40</p>
            <header>
                <nav>
                    <div class="nav-wrapper">
                        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons iconeNoire">account_circle</i></a>
                        <ul class="right hide-on-med-and-down">
                            <li><img src="{{ asset('img/avatar3.png') }}"></li>
                            <li><h3>Pseudo</h3></li>
                            <li><a href="#"><i class="material-icons">history</i>Historique</a></li>
                            <li><a href="/new_game"><i class="material-icons">add_circle</i>Créer une partie</a></li>
                            <li><a href="/joinParty"><i class="material-icons">input</i>Rejoindre une partie</a></li>
                            <li><a href="/"><i class="material-icons">power_settings_new</i>Déconnexion</a></li>
                        </ul>
                        <ul class="side-nav" id="mobile-demo">
                            <li><img class="avatarNav" src="{{ asset('img/avatar3.png') }}"></li>
                            <li><h3>Pseudo</h3></li>

                            <hr class="hrNav"/>
                            <li><a href="#"><i class="material-icons">history</i>Historique</a></li>
                            <li><a href="/newGame"><i class="material-icons">add_circle</i>Créer une partie</a></li>
                            <li><a href="/joinParty"><i class="material-icons">input</i>Rejoindre une partie</a></li>
                            <li><a href="/"><i class="material-icons">power_settings_new</i>Déconnexion</a></li>
                        </ul>
                    </div>
                </nav>
            </header>

        {% if card.type == 'Q' %}

            <div class="row">
                <div class="col s10 offset-s1 marginBottom">
                    <div class=" z-depth-4 carteFond">

                        <div class="card-title center-align"
                             style="background-color: {{ question.category.color }}">
                            <h5>{{ question.category.name }}</h5>
                        </div>

                        <div class="center-align card-content">
                            <h3>{{ question.content }}</h3>
                            {#<img class="questionImg" src="{{ asset('img/avatar4.png') }}">#}
                        </div>

                        <div class="reponses">
                            {% for answer in answers %}
                                <div class="center-align btnReponse">
                                    <a style="background-color: {{ question.category.color }}"
                                       class="btn waves-effect btn teal accent-2 white-text darken-text-2"
                                       href="{{ path('kz_kwiz_verif', {'id': answer.id,'party': party.id}) }}">{{ answer.answer }}</a>
                                </div>
                            {% endfor %}
                            {#{% if card.question is not defined and party.id is defined %}#}
                                {#<a class="btn btn-primary" href="{{ path('kz_kwiz_game', {'id': party.id}) }}">OK</a>#}
                            {#{% endif %}#}
                        </div>
                    </div>
                </div>
            </div>

        {% else %}

            <div class="row">
                <div class="col s10 offset-s1 marginBottom">
                    <div class=" z-depth-4 carteFond">

                        <div class="card-title center-align"
                             style="background-color: {{ question.category.color }}">
                            <h5>{{ card.type }}</h5>
                        </div>

                        <div class="center-align card-content">
                            <h3>{{ alert }}</h3>
                            <img class="questionImg" src="{{ asset('img/avatar4.png') }}">
                        </div>

                        <div class="reponses">
                            {#{% for answer in answers %}#}
                                {#<div class="center-align btnReponse">#}
                                    {#<a style="background-color: {{ question.category.color }}"#}
                                       {#class="btn waves-effect btn teal accent-2 white-text darken-text-2"#}
                                       {#href="{{ path('kz_kwiz_verif', {'id': answer.id,'party': party.id}) }}">{{ answer.answer }}</a>#}
                                {#</div>#}
                            {#{% endfor %}#}
                            {% if card.question is not defined and party.id is defined %}
                            <a class="btn btn-primary" href="{{ path('kz_kwiz_game', {'id': party.id}) }}">OK</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>

        {% endif %}
    {% elseif isTurn==-1 %}
        <div class="center-align">
            <h1>Fin de la partie</h1>
        </div>
    {% else %}
        <div class="center-align">
            <h1>Attendez le début de la partie</h1>
        </div>
    {% endif %}
    {% block javascripts %}
        <script>
            $(document).ready(function () {
                $('.button-collapse').sideNav({
                    menuWidth: 300, // Default is 300
                    edge: 'left', // Choose the horizontal origin
                    closeOnClick: true, // Closes side-nav on <a> clicks, useful for Angular/Meteor
                    draggable: true // Choose whether you can drag to open on touch screens
                });
            });
        </script>

    {% endblock %}



{% endblock %}
