{% extends 'base.html.twig' %}

{% block title %}KwikKwiz!{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
<!-- CREATION DU SLIDER -->
        <div class="slider fullscreen">
            <ul class="slides">
                <li>
                    <img src="{{ asset('img/slider3.jpg') }}"> <!-- random image -->
                    <div class="caption center-align">
                        <img class="logoWelcome" src="{{ asset('img/kwikkwizLogoBlanc.png') }}">
                        <h2 class="light white-text text-lighten-3">Intègre la Kwikysphère</h2>
                        <a class="btn waves-effect white black-text darken-text-2 creaButton largeurBt" href="/register">Crée ton kwiky !</a><br/>
                        <a class="btn waves-effect btn teal accent-2 white-text darken-text-2 largeurBt" href="/login">Connecte-toi !</a>
                    </div>
                </li>
                <li>
                    <img src="{{ asset('img/slider1.jpg') }}"> <!-- random image -->
                    <div class="caption center-align">
                        <h2>Défie tes amis en temps réel</h2>
                        <a class="btn waves-effect white black-text darken-text-2 creaButton largeurBt" href="/register">Crée ton kwiky !</a><br/>
                        <a class="btn waves-effect btn teal accent-2 white-text darken-text-2 largeurBt" href="/login">Connecte-toi !</a>
                    </div>
                </li>
                <li>
                    <img src="{{  asset('img/slider2.jpg') }}"> <!-- random image -->
                    <div class="caption center-align">
                        <h2>Choisis le mode de jeu qui te convient</h2>
                        <a class="btn waves-effect white black-text darken-text-2 creaButton largeurBt" href="/register">Crée ton kwiky !</a><br/>
                        <a class="btn waves-effect btn teal accent-2 white-text darken-text-2 largeurBt" href="/login">Connecte-toi !</a>
                    </div>
                </li>
                <li>
                    <img src="{{  asset('img/slider4.jpg') }}"> <!-- random image -->
                    <div class="caption center-align">
                        <h2>Joue où tu veux, où tu le sens</h2>
                        <a class="btn waves-effect white black-text darken-text-2 creaButton largeurBt" href="/register">Crée ton kwiky !</a><br/>
                        <a class="btn waves-effect btn teal accent-2 white-text darken-text-2 largeurBt" href="/login">Connecte-toi !</a>
                    </div>
                </li>
                <li>
                    <img src="{{  asset('img/slider5.jpg') }}"> <!-- random image -->
                    <div class="caption center-align">
                        <h2>Demande l'aide d'un ami kwiky</h2>
                        <a class="btn waves-effect white black-text darken-text-2 creaButton largeurBt" href="/register ">Crée ton kwiky !</a><br/>
                        <a class="btn waves-effect btn teal accent-2 white-text darken-text-2 largeurBt" href="/login">Connecte-toi !</a>
                    </div>
                </li>
            </ul>

        </div>
    </div>
</div>
    {% block javascripts %}
        <script>
            $(document).ready(function(){
                $('.slider').slider();
            });
        </script>
    {% endblock %}

{% endblock %}

