{% extends 'base.html.twig' %}

{% block title %}KwikKwiz!{% endblock %}

{% block body %}
<div class="container">
    <div class="carousel carousel-slider">
        <a class="carousel-item" href="#one!"><img src="{{ asset('img/slider1.jpg') }}"></a>
        <a class="carousel-item" href="#two!"><img src="{{  asset('img/slider2.jpg') }}"></a>
        <a class="carousel-item" href="#three!"><img src="{{  asset('img/slider3.jpg') }}"></a>
        <a class="carousel-item" href="#four!"><img src="{{  asset('img/slider4.jpg') }}"></a>
        <a class="carousel-item" href="#five!"><img src="{{  asset('img/slider5.jpg') }}"></a>
    </div>
</div>
    {% block javascripts %}
        <script>
            $(document).ready(function(){
                $('.carousel.carousel-slider').carousel({fullWidth: true});
            });

        </script>
    {% endblock %}

{% endblock %}

