{% extends 'base.html.twig' %}

{% block title %}KwikKwiz | Rejoins une partie{% endblock %}

{% block body %}
    <header>
        <nav>
            <div class="nav-wrapper">
                <a href="/" class="brand-logo"> <img src="{{ asset('img/kwikkwizLogoLineWhite.png') }}"></a>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">account_circle</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><img src="{{ asset('img/avatar3.png') }}"></li>
                    <li><h3>Pseudo</h3></li>
                    <li><a href="#"><i class="material-icons">history</i>Historique</a></li>
                    <li><a href="/new_game"><i class="material-icons">add_circle</i>Créer une partie</a></li>
                    <li><a href="/joinParty"><i class="material-icons">input</i>Rejoindre une partie</a></li>
                    <li><a href="/"><i class="material-icons">power_settings_new</i>Déconnexion</a></li>
                </ul>
                <ul class="side-nav" id="mobile-demo">
                    <li><img class="avatarNav" src="{{ asset('img/avatar3.png') }}"></li>
                    <li><h3>Pseudo</h3></li>

                    <hr class="hrNav"/>
                    <li><a href="#"><i class="material-icons">history</i>Historique</a></li>
                    <li><a href="/newGame"><i class="material-icons">add_circle</i>Créer une partie</a></li>
                    <li><a href="/joinParty"><i class="material-icons">input</i>Rejoindre une partie</a></li>
                    <li><a href="/"><i class="material-icons">power_settings_new</i>Déconnexion</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="container-fluid joinParty">
        <div class="row">
            <div class="col s12">
                <h1>Rejoindre une partie</h1>
            </div>
            <div class="col s6">
                <ul class="collection">
                    {% for party in parties %}
                        <li class="collection-item avatar">
                            <i class="material-icons circle black">play_arrow</i>
                            <span class="title"> <a href="/joinParty/{{ party.id }}">{{ party.name }}</a></span>
                            <p>Mode du jeu :{{ party.mode }}<br>
                                Nombre de joueurs inscrits : {{ party.nbPlayer }}
                            </p>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    {% block javascripts %}
        <script>
            $(document).ready(function () {
                $('.button-collapse').sideNav({
                    menuWidth: 300, // Default is 300
                    edge: 'left', // Choose the horizontal origin
                    closeOnClick: true, // Closes side-nav on <a> clicks, useful for Angular/Meteor
                    draggable: true // Choose whether you can drag to open on touch screens
                });
            });
        </script>

    {% endblock %}
{% endblock %}