{% extends '::base.html.twig' %}

{% block title %}KwikKwiz | Crée une partie{% endblock %}

{% block body %}
    <header>
        <nav>
            <div class="nav-wrapper">
                <a href="/" class="brand-logo"> <img class="paddingTop" src="{{ asset('img/kwikkwizLogoLineWhite.png') }}"></a>
                <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">account_circle</i></a>
                <ul class="right hide-on-med-and-down">
                    <li><img src="{{ asset('img/avatar3.png') }}"></li>
                    <li><h3>Pseudo</h3></li>
                    <li><a href="#"><i class="material-icons">history</i>Historique</a></li>
                    <li><a href="/new_game"><i class="material-icons">add_circle</i>Créer une partie</a></li>
                    <li><a href="/joinParty"><i class="material-icons">input</i>Rejoindre une partie</a></li>
                    <li><a href="/"><i class="material-icons">power_settings_new</i>Déconnexion</a></li>
                </ul>
                <ul class="side-nav" id="mobile-demo">
                    <li><img class="avatarNav" src="{{ asset('img/avatar3.png') }}"></li>
                    <li><h3>Pseudo</h3></li>
                    <hr class="hrNav"/>
                    <li><a href="#"><i class="material-icons">history</i>Historique</a></li>
                    <li><a href="/newGame"><i class="material-icons">add_circle</i>Créer une partie</a></li>
                    <li><a href="/joinParty"><i class="material-icons">input</i>Rejoindre une partie</a></li>
                    <li><a href="/"><i class="material-icons">power_settings_new</i>Déconnexion</a></li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="container-fluid joinParty">
        <div class="row">
            <div class="col s12">
                <h1>CRÉATION D'UNE PARTIE</h1>
                <
                <div class="form-group" id="fos_user_registration_form">
                    <div class="row">
                        {{ form_start(form) }}
                        {{ form_widget(form.name) }}
                        {{ form_widget(form.mode) }}
                        <div class="input-field col s12">
                        {{ form_widget(form.nbPlayer) }}
                        </div>
                        <div class="input-field col s12">
                        {{ form_widget(form.level) }}
                        </div>
                    </div>
                    <div class="row">
                        <button type="submit" class="btn teal accent-2" value="Create">Créer la partie</button>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% block javascripts %}
        <script>
            $(document).ready(function () {
                $('.button-collapse').sideNav({
                    menuWidth: 300, // Default is 300
                    edge: 'left', // Choose the horizontal origin
                    closeOnClick: true, // Closes side-nav on <a> clicks, useful for Angular/Meteor
                    draggable: true // Choose whether you can drag to open on touch screens
                });
            });
        </script>

    {% endblock %}
{% endblock %}

