{% trans_default_domain 'FOSUserBundle' %}
{% extends '::base.html.twig' %}

{% block title %}KwikKwiz | Connection{% endblock %}

{% block body %}
    <header>
        <nav>
            <div class="nav-wrapper ">
                <div class="row">
                    <div class="col s1 m1 l1">
                        <a href="#" data-activates="mobile-demo" class="button-collapse ">
                            <i class="material-icons iconeNoire paddingTop2">account_circle</i>
                        </a>
                    </div>


                    <div class=" col s4 m4 l2 offset-s3 offset-m3 offset-l4">
                        <a href="/"> <img class="formBrandLogo paddingTop"
                                          src="{{ asset('img/kwikkwizLogoLineWhite.png') }}">
                        </a>
                    </div>

                </div>


                <ul class="side-nav" id="mobile-demo">
                    <li><img class="avatarNav" src="{{ asset('img/avatar3.png') }}"></li>
                    <li><h3>Pseudo</h3></li>
                    <hr class="hrNav"/>
                    <li><a href="#"><i class="material-icons">history</i>Historique</a></li>
                    <li><a href="/newGame"><i class="material-icons">add_circle</i>Créer une partie</a></li>
                    <li><a href="/joinParty"><i class="material-icons">input</i>Rejoindre une partie</a></li>
                    <li><a href="/"><i class="material-icons">power_settings_new</i>Déconnexion</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="container-fluid joinParty">

    <div class="row">
        <div class="col s12">
            <h1>CONNECTION</h1>
        </div>
        <!--Login Form-->
        {% if error is defined %}
            {% if error is not empty %}
                <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
        {% endif %}
        <form name="Login_form" id="Login_form" action="{{ path("fos_user_security_check") }}" method="post">
            {% if csrf_token is defined %}
                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
            {% endif %}
            <div class="row">
                <div class="form-group col s6 offset-s3">
                    <label for="username" class="sr-only formLabel">{{ 'Pseudo' }}</label>
                    <input type="text" class="form-control input-group-lg"
                           placeholder="{{ 'security.login.username'|trans }}"
                           id="username" name="_username" required="required"/>
                </div>
            </div>
            <div class="row">
                <div class="form-group col s6 offset-s3">
                    <label for="password" class="sr-only formLabel">{{ 'Mot de passe' }}</label>
                    <input type="password" class="form-control input-group-lg"
                           placeholder="{{ 'Mot de passe' }}" id="password" name="_password"
                           required="required"/>
                </div>
            </div>
            <div class="row">
                <div class="form-group form-group col s6 offset-s3">
                    <input type="checkbox" id="remember_me" name="_remember_me" value="on"/>
                    <label for="remember_me">{{ 'Se souvenir de moi' }}</label>
                </div>
            </div>

            <div class="row">
                <button type="submit" class="btn teal accent-2 col s6 offset-s3" id="_submit" name="_submit"
                        value="{{ 'security.login.submit'|trans }}">{{ 'Se connecter' }}</button>
            </div>
        </form>
    </div>
    <!--Login Form Ends-->
    {% block javascripts %}
        <script>
            $(document).ready(function () {
                $('.button-collapse').sideNav({
                    menuWidth: 300, // Default is 300
                    edge: 'left', // Choose the horizontal origin
                    closeOnClick: true, // Closes side-nav on <a> clicks, useful for Angular/Meteor
                    draggable: true // Choose whether you can drag to open on touch screens
                });
            });
        </script>

    {% endblock %}
{% endblock body %}